<p>application-form works!</p>


<!-- <div class="alert alert-danger" role="alert" *ngIf="isSubmitted && errorMessage">
    {{errorMessage}}
  </div>
  <form (ngSubmit)="onSubmit()" #applicationForm="ngForm">
    <div class="form-group">
      <label for="motivation">Motivation</label>
      <input type="text" class="form-control" id="motivation" motivation="motivation" placeholder="Why do you want this job?" [(ngModel)]="application.motivation"
             #motivation="ngModel" required> -->
      <!-- <div [hidden]="motivation.valid || motivation.pristine" class="alert alert-danger">Name is required</div> -->
    <!-- </div>
    <button type="submit" class="btn btn-primary" *ngIf="isAdd" [disabled]="!applicationForm.form.valid || isSubmitted">Add</button>
    <button type="submit" class="btn btn-primary" *ngIf="isEdit" [disabled]="!applicationForm.form.valid || isSubmitted">Save</button>
  </form> -->